<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="G5 fixture signer">
        <activity android:name=".FixtureSignerActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="nostrsigner" />
            </intent-filter>
        </activity>
        <!-- Silent relay authentication only; see FixtureSilentSigner. -->
        <provider
            android:name=".FixtureSilentSigner"
            android:authorities="dev.forgesworn.kithmoot.g5signer.SIGN_EVENT"
            android:exported="true" />
    </application>
</manifest>
